<script src="{{ 'reset-password-form.js' | asset_url }}" defer="defer"></script>

<div id="reset-password" class="account__tab__reset-password">
  <form action="" class="reset-pass-form">
    <input type="hidden" name="customerID" id="customerID" value="{{ customer.id }}">
    
    <!-- <div class="wrap-field">
      <label for="password-current" class="wrap-field__label">{{ 'customer.reset_password.password-current' | t }}</label>
      <span class="wrap-field__required">{{ 'customer.reset_password.required' | t }}</span>
      <input 
      type="password" 
      class="wrap-field__input"
      name="customer[password-current]"
      id="password-current"
      autocomplete="password-current"
      required
      placeholder="{{ 'customer.reset_password.password-current_placeholder' | t }}">
      <span class="error-message">{{ 'customer.register.error-text' | t }}</span>
    </div> -->
    
    <div class="wrap-field">      
      <label class="wrap-field__label" for="password">
        {{ 'customer.reset_password.password-new' | t }}
      </label>
      <span class="wrap-field__required">{{ 'customer.reset_password.required' | t }}</span>
      <input
      class="wrap-field__input"
      type="password"
      name="customer[password]"
      id="password"
      autocomplete="new-password"
      required
      placeholder="{{ 'customer.reset_password.password-new_placeholder' | t }}"
      >
      <span class="error-message">{{ 'customer.register.error-text' | t }}</span>
      <span id="errPW" class="error-message">{{ 'customer.reset_password.error-password' | t }}</span>
    </div>

    <div class="wrap-field">      
      <label class="wrap-field__label" for="password_confirmation">
        {{ 'customer.reset_password.password_re-enter' | t }}
      </label>
      <span class="wrap-field__required">{{ 'customer.reset_password.required' | t }}</span>
      <input
      class="wrap-field__input"
      type="password"
      name="customer[password_confirmation]"
      id="password_confirmation"
      autocomplete="new-password"
      required
      placeholder="{{ 'customer.reset_password.password_re-enter_placeholder' | t }}"
      >
      <span class="error-message">{{ 'customer.register.error-text' | t }}</span>
      <span id="err_cf_pw" class="error-message">{{ 'customer.reset_password.password_confirm_not_match' | t }}</span>
    </div>

    <div class="reset-password__button">
      <button class="button-global" id="submit-btn">
        {{ 'customer.reset_password.update' | t }}
      </button>
      <button class="button-global button-global--secondary" id="buttonCancel" type="reset">Cancel</button>
    </div>
    
  </form>
</div>

<script>
  let buttonCancel = document.getElementById('buttonCancel')
  
  buttonCancel.addEventListener('click', function () {
    document.getElementById('changePasswordButton').setAttribute('aria-expanded', 'false');
    document.querySelector('.update-pass-success').classList.remove('active');
  })

  document.getElementById('changePasswordButton').addEventListener('click', function () {
    document.querySelector('.update-pass-success').classList.remove('active');
  })
</script>